
.filter-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-sizes {
    display: flex;
    justify-content: center;
}
.filter-price {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    
}
.filter-price input{
    margin: 2px;
    border-radius: 5px;
    width: 100%;
}
.catalog {
    background-color: #FF6F61;
    padding: 5px;

}
.filter-header {
    text-align: center;
}
.filter {
    background-color: #e8eaeb;
    height: 100vh;
    border: 1px solid #000000;
    border-radius: 5px;
}
.filter-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filter-checkbox input {
    margin-right: 10px;
  }