body {
  margin: 0;

}

.categoryButton {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.categoryButton:hover {
  background-color: #fdeb6b;
  width: 100px;
}

.categoryButtonSelected {
  background-color: #00BFFF;
  width: 100px;
}
